---
interface Props {
  areas?: string[];
  extra?: boolean;
  textSize ?: number;
}

const { areas = [], extra = false, textSize = 100 } = Astro.props;
const sizeAdjustment = 0.85;
---

<div class="setup-card">
  <div class="header">
    { extra && <span class="extra">Extra</span>}
    <!-- <p class="title">1733</h2>
    <p class="subtitle">Tea and Business</p> -->
  </div>
  <div class:list={["main", `cells-${areas.length}`]}>
    {(areas.length > 0) && (
      <div class="cell" style={`font-size: ${textSize * sizeAdjustment}%`}>
        <slot name="cell-1">
          <div set:text={areas[0]} />
        </slot>
      </div>
    )}
    {(areas.length > 1) && (
      <div class="cell" style={`font-size: ${textSize * sizeAdjustment}%`}>
        <slot name="cell-2">
          <div set:text={areas[1]} />
        </slot>
      </div>
    )}
    {(areas.length > 2) && (
      <div class="cell" style={`font-size: ${textSize * sizeAdjustment}%`}>
        <slot name="cell-3">
          <div set:text={areas[2]} />
        </slot>
      </div>
    )}
    {(areas.length > 3) && (
      <div class="cell" style={`font-size: ${textSize * sizeAdjustment}%`}>
        <slot name="cell-4">
          <div set:text={areas[3]} />
        </slot>
      </div>
    )}
  </div>
</div>
